<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../assets/css/registro/registroStyle.css">
</head>
<body>

    <header class="header">
        <div class="back" id="backContainer">
            <a href="../inicio/inicio.html"><img src="../../assets/image/Back_02.svg" alt="back" class="backBtn"></a>
        </div>
        <div class="logo">
            <img src="../../assets/image/Logo_icon.svg" alt="duoGame" class="logo_svg">   
        </div>
    </header>

    <div class="container">
        <section class="form">
            <label for="text" class="formLabel" id="textlLabel">Tu Nombre</label>
            <input type="text" class="formInput" id="textImput" placeholder="Nombre">
            <label for="email" class="formLabel" id="emailLabel">Correo electrónico</label>
            <input type="email" class="formInput" id="emailImput" placeholder="Correo">
            <label for="password" class="formLabel" id="passwordLabel">Contraseña</label>
            <input type="password" class="formInput" id="passwordImput" placeholder="Contraseña">
            <label for="password" class="formLabel" id="passwordRepiteLabel">Repite tu contraseña</label>
            <input type="password" class="formInput" id="passwordRepiteImput" placeholder="Contraseña">

        </section>
        <div class="btn">
            <div class="registrar">
                 <a class="btnRegistrar" href="../menu/menu.html">Registrate</a>
            </div>
        </div>
    </div>
    
</body>
</html>