<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../assets/css/login/loginStyle.css">
</head>
<body>

    <header class="header">
        <div class="back">
            <a href="../inicio/inicio.html"><img src="../../assets/image/Back_01.svg" alt="back" class="backBtn"></a>
        </div>
    </header>

    <div class="container">
        <div class="logo">
            <img src="../../assets/image/Logo.svg" alt="duoGame" class="logo_svg">   
        </div>
        <section class="form">
            <label for="email" class="formLabel" id="emailLabel">Correo electrónico</label>
            <input type="email" class="formInput" id="emailImput" placeholder="Correo">
            <label for="password" class="formLabel" id="passwordLabel">Contraseña</label>
            <input type="password" class="formInput" id="passwordImput" placeholder="Contraseña">
        </section>
        <div class="btn">
            <div class="ingresar">
                 <a class="btnIngresar" href="../menu/menu.html">Ingresa</a>
            </div>
        </div>
    </div>

    <!-- Librerias -->
        <!-- Angularjs -->
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>    


    
</body>
</html>