<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../assets/css/inicio/inicioStyle.css">
    <title>Document</title>

</head>
<body>

    <div class="container">
        <div class="logo">
            <img src="../../assets/image/Logo.svg" alt="duoGame" class="logo_svg">   
        </div>
        <div class="texto">
            <p>¡Aprende y Juega!</p>
        </div>
        <div class="btn">
            <div class="registrar">
                 <a class="btnRegistrar" href="../registro/registro.html">Registrate</a>
            </div>
            <div class="ingresar">
                 <a class="btnIngresar" href="../login/login.html">Ingresa</a>
            </div>
        </div>
    </div>

        <script src="../../assets/js/inicio/inicio.js"></script>


    <!-- Librerias -->
        <!-- Swetwalert -->
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
        

</body>
</html>